@font-face{
    font-family: 3Dumb;
    src: url(../resources/default/fontes/3Dumb.ttf) format("truetype");
    font-weight:normal;
   	font-style:normal;
}

/*html, body {
    width: 100%;
    margin: auto;
    text-align: center;
}*/

/*#container {
    width: 998px;
    margin: auto;
    text-align: left;
}*/

#header {
    padding: 5px; 
    background-color:#666972; 
    height: 50px;
}

#header #btn-fblogin {
    display: inline-table;
    height: 100%;
    margin-right: 15px;
}

#header #btn-fblogin .fb-login-button {
    display: table-cell;
    vertical-align: middle;
}

#corpo {
    min-height: 300px;
    height: 500px;
    border: solid 1px;
    margin-top: 5px;
}

#content {
    /*width: 790px;*/
    /*height: 500px;*/
    /*border: solid 1px;*/
    /*margin-top: 5px;*/
}

#content #principal {
    /*width: 760px;*/
    /*border: solid 1px;*/
    /*background: #EEE;*/
}

#content #lateral {
    /*width: 190px;*/
    min-height: 300px;
    /*border: solid 1px;*/
    margin-top: 5px;
    /*background: #EEE;*/
}

#footer {
    background-color: #666972;
    text-align: center;
    padding: 5px;
    height: 100px;
    /*border: solid 1px;*/
    /*margin-top: 5px;*/
}

.banner-principal {
    height: 300px;
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/*.logo{
    font-family: 3Dumb;
    font-size: 30px;
    color: white;	
}*/

.btn-fb-login {
    height: 25px;
    margin-top: 5px;
}

/*------------------------------
Formulários
------------------------------*/
.error-message {
    display: inline-block;
    padding-left: 1em;
}

form div.error input.form-error {
    /*background-color: #F2DEDE;*/
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}