#header {
    padding: 5px; 
    background-color:#666972; 
    height: 50px;
}

#header #btn-fblogin {
    display: inline-table;
    height: 100%;
    margin-right: 15px;
}

#header #btn-fblogin .fb-login-button {
    display: table-cell;
    vertical-align: middle;
}

#corpo {
    min-height: 300px;
    height: 500px;
    border: solid 1px;
    margin-top: 5px;
}

.banner-principal {
    height: 300px;
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.btn-fb-login {
    height: 25px;
    margin-top: 5px;
}

.fsize{
    font-size: 12px;
}

.btn {
	border-radius: 0em;
}

.ask_btn{
    font-size: 18px;
    font-weight: bolder;
}

/*------------------------------
Formulários
------------------------------*/
.error-message {
    display: inline-block;
    padding-left: 1em;
}

form input[type],
form textarea,
form select {
	border-radius: 0em;
}

/*------------------------------
Respostas
------------------------------*/

p.conteudo_resposta {
    font-size: small;
    text-align: justify;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 90%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#banner{
    margin-top: 10px;
    margin-left: 22%;
    position: relative;
}

#lateral{
    margin-left: 15%;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 100px;
}
#footer {
    //background-color: #ccc;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}